html {
	background:#fff;
	box-sizing:border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color:#6d6E70;
	font-family:sans-serif;
	font-size:16px;
	margin:0;
	padding:0;
}
a {
	color:#6D6E70;
	text-decoration:none;
}

/* Layout */
.clearfix:before,
.clearfix:after {
	content:" ";
	display:table;
}
	.clearfix:after {
		clear:both;
	}
.right {
	float:right;
}
.left {
	float:left;
}
/* end Layout */

/* Header */
header {
	padding:1rem;
}
	img.logo {
		float:left;
	}

	ul.account {
		margin:0;
		padding:0;
	}
		ul.account li {
			display:inline-block;
			list-style:none;
			margin-left:1.3rem;
		}
/* End Header */

.button--block {
	background:#EB738A;
	box-shadow:1px 1px 1px 1px rgba(0,0,0,.3);
	color:#fff;
	display:block;
	line-height:3rem;
	text-align:center;
	padding:0 1.5rem;
}


nav.month {
	background:#69C4A6;
	color:#F2F2F2;
	text-align:center;
}
nav.month ul {
	margin:0;
	padding:0;
}
	nav.month li {
		display:inline-block;
	}
	.month__title {
		font:400 1.5rem Helvetica, sans-serif;
	}
	.month__button {
		background:#fff;
		border-radius:75px;
		box-shadow:1px 1px 1px 1px rgba(0,0,0,.1);
		color:#69C4A6;
		display:block;
		font:400 1.5rem Helvetica, sans-serif;
		margin:0 .5rem;
		padding:0;
		line-height:2rem;
		width:2rem;
	}



.calendar__container {
	display:none;
	background:#ddd;
	margin:0 auto;
	padding:0;
}
ul.calendar {
	margin:0 auto;
	padding:0;
	width:100%;
}

.calendar__day,
.calendar__day--past {
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
}
	.calendar__day__day {
		background:#F1F1F2;
		color:#1A1A1A;
		font-size:1.125rem;
		font-weight:200;
		line-height:2.3rem;
		text-align:center;
		margin:0;
		padding:0;
	}
	.calendar__day__date {
		background:linear-gradient(#ccc,#ddd);
		color:#6D6E70;
		font-size:1rem;
		font-weight:400;
		margin:0;
		padding:.7rem;
	}
.calendar__events {
	list-style:none;
	margin:0;
	padding:0;
}
.calendar__events__item {
	background:#fff;
	box-shadow:1px 1px 1px 1px rgba(0,0,0,.1);
	color:#69C4A6;
	font-size:.9375rem;
	height:5rem;
	margin:.5rem;
	overflow:hidden;
	padding:.3rem;
}
.calendar__events__item__time {
	font-weight:800;
	font-size:1rem;
	line-height:1.5rem;
	margin:0;
	padding:0;
}
.calendar__events__item__title {
	font-weight:400;
	font-size:.9375rem;
	line-height:1.3rem;
	margin:0;
	padding:0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

}
td,
th {
	vertical-align:baseline;
}
table.calendar {
	background:#DDD;
	table-layout:fixed;
	width:100%;
}
	table.calendar thead {
		text-align:center;
	}	
		table.calendar th {
			background-color:#F1F1F2;
			color:#1A1A1A;
			font-size:1.125rem;
			font-weight:200;
			line-height:2.3rem;
			padding:0;
		}
	table.calendar tbody td {
		width:14%;
		min-width:6.5rem;
	}
	table.calendar tbody ul {
		margin:0;
		padding:0;
	}
		table.calendar tbody li {
			list-style:none;
			margin:.5rem auto;
			width:90%;
		}
			table.calendar tbody a {
				background:#fff;
				box-shadow:1px 1px 1px 1px rgba(0,0,0,.1);
				color:#69C4A6;
				display:block;
				padding:.5rem;
				text-decoration:none;
			}
				table.calendar tbody a:hover {
					box-shadow:3px 3px 3px -3px rgba(0,0,0,.1);
				}
			table.calendar td.past,
			table.calendar td.past a {
				background:#DDD;
				box-shadow:none;
				color:#aaa;
				pointer-events:none;
			}
	table.calendar h3 {
		background:linear-gradient(#ccc,#ddd);
		color:#6D6E70;
		font-size:1rem;
		font-weight:400;
		line-height:2rem;
		margin:0;
		padding:0 1rem;
	}
	table.calendar h4 {
		font-weight:800;
		margin:0;
		padding:0;
		white-space:nowrap;
	}
	table.calendar p {
		margin:.3rem 0;
		padding:0;
		font-size:.8rem;
	}

/* Overlay when Modal is open */
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/* Modal box */
.modal-login,
.modal-volunteerconf,
.modal-confirmreg {
	position:absolute;
	width:330px;
	height:auto;
	left:45%;
	top:80px;
	background:#fff;
	text-align:center;
	border:2px solid #000;
	padding:1rem;
}
	.modal-login header,
	.modal-volunteerconf header {
		background:#eee;
	}
		.modal-login h1,
		.modal-volunteerconf h1 {
			display:inline-block;
			float:left;
			margin:0;
			padding:0;
			font-size:1.3rem;
		}
		.modal-login i,
		.modal-volunteerconf i {
			border:2px solid #000;
			box-shadow:3px 3px 1px -1px #333;
			float:right;
			padding:.3rem;
		}
			.modal-login i:hover,
			.modal-volunteerconf i:hover {
				background:#aaa;
				box-shadow:1px 1px 1px -1px #333;
				color:#fff;
			}
	.modal-login fieldset,
	.modal-volunteerconf fieldset {
		border:none;
	}
		.modal-volunteerconf fieldset {
			text-align:left;
			margin:0 auto;
			width:15rem;
		}
	.modal-login form label,
	.modal-volunteerconf form label {
		display:block;
		margin:.5rem auto;
	}
		.modal-login form input {
			width:75%;
		}
		.modal-login form a,
		.modal-volunteerconf form a,
		.modal-confirmreg a {
			display:block;
			width:3.5rem;
			margin:.5rem auto;
			padding:.5rem;
		}
			.modal-volunteerconf form a {
				width:15rem;
			}
			.modal-volunteerconf form a.inactive {
				background:#eee;
				box-shadow:none;
				color:#aaa;
				pointer-events:none;
				border:1px solid #000;
			}
	.modal-login p {
		margin:.3rem auto;
		padding:0;
		font-size:.7rem;
	}

section.eventdetails {
	margin:1rem;
	position:relative;
}
	section.eventdetails h1 {
		display:inline;
		margin:1rem 0;
	}
	section.eventdetails h2::after {
		content:":";
	}
	section.eventdetails figure {
		display:inline;
		float:right;
		margin:0 0 0 1rem;
		padding:0;
	}
		section.eventdetails img {
			max-width:100%;
			border:2px solid #000;
		}
	section.eventdetails a {
		position:absolute;
		right:0;
		bottom:0;
		padding:1rem;
	}

	@media (max-width:36.5rem) {
		table.calendar {display:none;}
		.calendar__container {display:block;}
	}
